.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#121212, #212b46);
  text-align: center;
  color: white;
  padding-top: 15px;
}

.App header {
  margin: 0;
  padding: 2px;
  margin-bottom: 5px;
}

.App footer {
  background-color: #29334d;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
}